
<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Reservas</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Buscar por usuario " [debounce]="1000" (ionInput)="searchBookingForUser($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-spinner *ngIf="isLoading"></ion-spinner>

  <ng-container *ngIf="!isLoading">
    <ion-list>
      <ion-card *ngFor="let item of searchBooking; let index = index" >
        <ion-card-content class="card-no-padding-bookings">
        <p><strong>Reserva ID:</strong> {{ item.id }}</p>
        <h3><strong>Usuario:</strong> {{ item.StudentId.FirstName }} {{ item.StudentId.LastName }} </h3>     
        <h3><strong>Tutor:</strong> {{ item.TutorId.FirstName }} {{ item.TutorId.LastName }}</h3>
        <p><b>Inicio:</b> {{ item.StartTime | date:'dd/MM/yyyy' }}  <b>Final:</b> {{ item.EndTime | date:'dd/MM/yyyy' }}</p>
        </ion-card-content>
      </ion-card>
    </ion-list>

    <ion-card *ngIf="items.length === 0 && !isLoading">
      <ion-card-content>
        <p>Sin resultados</p>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>
